@use 'mixins' as m;

$primary-color: #000000;
$secondary-color: #01292c;
$accent-color: #a80000;
$body-text-color: #610061;
$heading-font-family:"arial";
$body-font-family: 'Inter', helvetica,arial, sans-serif;
$base-font-size: 1800px;
$base-font-weight: 400px;